:root {
  --button-size: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.section {
  
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.canvas {
  
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  padding-right: 0;
}

.shapes {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  position: fixed;
  inset: 0% auto auto 0%;
}

.button {
  width: var(--button-size);
  height: var(--button-size);
  background-color: #fff0;
  padding: 10px;
  border: 0;
}

.image {
  aspect-ratio: 1;
  position: static;
}

.colors {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 20px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto auto;
}

.size {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: fill;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.input {
  text-align: center;
}

.admin {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  object-fit: fill;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: auto auto 10px;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
}

.text-button {
  color: #fff;
  background-color: indigo;
  border: 2px #000;
  border-radius: 5px;
  padding: 10px;
}


