:root {
  --button-size: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.section {
  
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.canvas {
  
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  padding-right: 0;
}
